[Desktop Entry]
Categories=Education;Science;
Comment=NEST Desktop is a web-based GUI for NEST Simulator and other simulators of spiking networks.
Exec=nest-desktop-launch
Icon=nest-desktop
Name=NEST Desktop
Terminal=false
Type=Application